.page-enter-active {
    transition: all .5s ease-out;
}
.page-leave-active {
    transition: all .5s ease-in;
}
.page-enter{
    opacity: 0;
    transform: translateX(-50%);
}
.page-leave-to{
    opacity: 0;
    transform: translateX(50%);
}

.move-x-enter-active {
    transition: all .3s ease-out;
}
.move-x-leave-active {
    transition: all .3s ease-in;
}
.move-x-enter{
    opacity: 0;
    transform: translateX(-50%);
}
.move-x-leave-to{
    opacity: 0;
    transform: translateX(50%);
}