@import '@/assets/style/utils.scss';

@font-face {
  font-family: 'Overwatch-i';
  src: url('/fonts/big_noodle_titling_oblique.ttf');
}

@font-face {
  font-family: 'Overwatch';
  src: url('/fonts/big_noodle_titling.ttf');
}
