

.rb-0{
    border-radius: 0px !important;
}
.rb-1{
    border-radius: 2px !important;
}
.rb-2{
    border-radius: 4px !important;
}
.rb-3{
    border-radius: 6px !important;
}
.rb-4{
    border-radius: 8px !important;
}
.rb-5{
    border-radius: 10px !important;
}

@font-face {
    font-family: 'Overwatch-i';
    src: url('/fonts/big_noodle_titling_oblique.ttf');
}

@font-face {
    font-family: 'Overwatch';
    src: url('/fonts/big_noodle_titling.ttf');
}