// Borders

.bdrs-0 {
    border-radius: 0px !important;
  }
  
  .bdrs-1 {
    border-radius: 2px !important;
  }
  
  .bdrs-2 {
    border-radius: 4px !important;
  }
  
  .bdrs-3 {
    border-radius: 6px !important;
  }
  
  .bdrs-4 {
    border-radius: 8px !important;
  }
  
  .bdrs-5 {
    border-radius: 10px !important;
  }